---
import Layout from "../layouts/Layout.astro";
import TextConverter from "../components/TextConverter.astro";
---

<Layout title="Text Formatter">
  <main>
    <div class="h-screen flex items-center justify-center bg-zinc-100 px-4">
      <TextConverter />
    </div>
  </main>
</Layout>
