<div
  class="max-w-3xl w-full mx-auto bg-white p-6 rounded-lg shadow-md grid gap-4"
>
  <h1 class="text-2xl font-bold">Text Case Converter</h1>
  <textarea
    id="textInput"
    class="w-full h-40 p-3 border border-zinc-300 rounded-md shadow-sm"
    placeholder="Enter your text here"></textarea>

  <div class="flex gap-2 flex-wrap">
    <a class="button is-small" data-sentence-case>Sentence case</a>
    <a class="button is-small" data-lower-case>lower case</a>
    <a class="button is-small" data-upper-case>UPPER CASE</a>
    <a class="button is-small" data-capitalized-case>Capitalized Case</a>
    <a class="button is-small" data-alternating-case>aLtErNaTiNg cAsE</a>
    <a class="button is-small" data-title-case>Title Case</a>
    <a class="button is-small" data-remove-breaks>Remove Line Breaks</a>
    <a class="button is-small" data-remove-double-spaces>Remove Double Spaces</a
    >
    <a class="button is-small" data-add-dashes>Add Dashes</a>
    <a class="button is-small" data-remove-dashes>Remove Dashes</a>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <a class="button is-primary" data-copy-to-clipboard>Copy to Clipboard</a>
    <a class="button" data-clear-text>Clear</a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const textArea = document.querySelector(
      "#textInput"
    ) as HTMLTextAreaElement;

    const sentenceCaseBtn = document.querySelector("[data-sentence-case]");
    const lowerCaseBtn = document.querySelector("[data-lower-case]");
    const upperCaseBtn = document.querySelector("[data-upper-case]");
    const capitalizedCaseBtn = document.querySelector(
      "[data-capitalized-case]"
    );
    const alternatingCaseBtn = document.querySelector(
      "[data-alternating-case]"
    );
    const titleCaseBtn = document.querySelector("[data-title-case]");
    const removeBreaksBtn = document.querySelector("[data-remove-breaks]");
    const removeDoubleSpacesBtn = document.querySelector(
      "[data-remove-double-spaces]"
    );
    const addDashesBtn = document.querySelector("[data-add-dashes]");
    const removeDashesBtn = document.querySelector("[data-remove-dashes]");

    const copyToClipboardBtn = document.querySelector(
      "[data-copy-to-clipboard]"
    );
    const clearTextBtn = document.querySelector("[data-clear-text]");

    sentenceCaseBtn?.addEventListener("click", () => {
      let text = textArea.value.toLowerCase();
      text = text.replace(/(^\s*\w|[.!?]\s*\w)/g, (match) =>
        match.toUpperCase()
      );
      textArea.value = text;
    });

    lowerCaseBtn?.addEventListener("click", () => {
      let text = textArea.value.toLowerCase();
      textArea.value = text;
    });

    upperCaseBtn?.addEventListener("click", () => {
      let text = textArea.value.toUpperCase();
      textArea.value = text;
    });

    capitalizedCaseBtn?.addEventListener("click", () => {
      let text = textArea.value
        .toLowerCase()
        .replace(/\b\w/g, (match) => match.toUpperCase());
      textArea.value = text;
    });

    alternatingCaseBtn?.addEventListener("click", () => {
      let text = textArea.value
        .split("")
        .map((char, index) =>
          index % 2 === 0 ? char.toLowerCase() : char.toUpperCase()
        )
        .join("");
      textArea.value = text;
    });

    titleCaseBtn?.addEventListener("click", () => {
      const smallWords = [
        "the",
        "to",
        "and",
        "a",
        "an",
        "in",
        "on",
        "at",
        "for",
        "by",
        "with",
        "of",
        "is",
      ];
      let text = textArea.value
        .toLowerCase()
        .replace(/\b\w+/g, function (word, index) {
          if (index === 0 || !smallWords.includes(word)) {
            return word.charAt(0).toUpperCase() + word.slice(1);
          } else {
            return word;
          }
        });
      textArea.value = text;
    });

    removeBreaksBtn?.addEventListener("click", () => {
      let text = textArea.value.split(/\r?\n/).join(" ");
      textArea.value = text;
    });

    removeDoubleSpacesBtn?.addEventListener("click", () => {
      let text = textArea.value.split(/\s+/).join(" ");
      textArea.value = text;
    });

    addDashesBtn?.addEventListener("click", () => {
      let text = textArea.value;

      text = text
        .toLowerCase()
        .replace(/[^\w\s-]/g, "")
        .replace(/\s+/g, "-")
        .replace(/-+$/g, "");

      textArea.value = text;
    });

    removeDashesBtn?.addEventListener("click", () => {
      let text = textArea.value;

      text = text.replace(/-+/g, " ");

      textArea.value = text;
    });

    copyToClipboardBtn?.addEventListener(
      "click",
      function (this: HTMLButtonElement) {
        const originalText = this.textContent;
        this.textContent = "Copied!";

        textArea.select();
        document.execCommand("copy");

        setTimeout(() => {
          this.textContent = originalText;
        }, 400);
      }
    );

    clearTextBtn?.addEventListener("click", () => {
      textArea.value = "";
    });
  });
</script>
