---
import "@fontsource-variable/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  .button {
    @apply px-3 py-2 border border-zinc-300 cursor-pointer text-center shadow-sm rounded-md transition hover:bg-zinc-100;
  }

  .button.is-small {
    @apply px-2 py-1 text-sm;
  }

  .button.is-primary {
    @apply bg-emerald-600 border-emerald-600 text-white;
  }
</style>
